.top_img {
  background: url(../img/5-2/top.png) no-repeat center center;
}
section:nth-child(3) {
  width: 100%;
}
.banner {
  width: 100% !important;
  margin-bottom: 5% !important;
}
.banner2_text {
  display: flex;
  background: url(../img/5-2/banner.png) no-repeat center center;
  height: 700px;
  width: 100% !important;
}
.banner2_left {
  width: 61.5%;
  margin: auto;
  height: 50%;
  color: #fff;
}
.banner2_left > * {
  margin-bottom: 5%;
}
.banner2_left h3 {
  font-size: 40px;
  line-height: 1.5em;
}
.banner2_left p {
  font-size: 20px;
  width: 60%;
  line-height: 1.5em;
}
.logo_title h6 {
  font-size: 25px;
}
.center_text {
  background: url(../img/5-2/center.png) no-repeat center center;
  width: 100%;
  height: 640px;
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}
.center_text p {
  color: #fff;
  padding-left: 5%;
  line-height: 1.5em;
  font-size: 22px;
}
section:nth-child(5) {
  width: 61.5%;
  margin: 0 auto;
}
.main_img {
}
.main_imge {
}
.main_imgeT {
  padding: 5%;
}
.main_text ul {
}
.main_text ul li {
  border: 1px solid #000;
}
.main_text img {
  height: 25px;
  /* width: 0px; */
  border: 1px solid #000;
  object-fit: contain;
  background-color: aqua;
}
.main_text h4 {
  font-size: 30px;
  margin: 10% 0;
}

.main_text span,
.main_text p {
  font-size: 18px;
}
@media (max-width: 768px) {
  .banner2_left {
    width: 90%;
  }
}
