.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner h1 {
  font-size: 55px;
  margin-bottom: 5%;
  font-family: "NotoSansJP-semiBold";
}
.banner img {
  margin-bottom: 5%;
  width: 100%;
}
.banner_text {
  display: flex;
  align-items: center;
}
.banner_text .banner_left {
  width: 65%;
}
.banner_text .banner_left span {
  font-size: 40px;
  font-family: "NotoSansJP-Light";
}
.banner_text .banner_left span strong {
  font-family: "NotoSansJP-semiBold";
}
.banner_text .banner_left p {
  font-size: 20px;
  width: 75%;
  margin-top: 5%;
}
/* **************************grid4(2-1)************************** */
/* **************************grid4(3-3)************************** */
/* **************************grid4(3-5)************************** */
.banner_text .banner_right {
  height: 100%;
  width: 35%;
  display: grid;
  gap: 7px;
  grid-template-rows: repeat(3, 1fr);
}
.banner_text .banner_right span {
  /* border: 1px solid #000; */
  font-size: 22px;
  text-align: center;
  background-color: #f7f7f7;
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* **************************grid4(2-1)************************** */

@media (max-width: 768px) {
  .banner_text {
    flex-direction: column;
  }
  .banner_text .banner_left {
    width: 100%;
    margin-bottom: 5%;
  }
  .banner_text .banner_right {
    width: 100%;
  }
}

/* <section class="banner">
      <h1>気病みクリニック</h1>
      <img src="./img/2-2/banner.png" alt="" />
      <div class="banner_text">
        <div class="banner_left">
          <span>体質別オーダーメード韓方薬<strong>韓方ダイエット</strong></span>
          <p>
            気血循環が改善されるように患者の体質と病症に合わせて韓方薬やダイエット治療を行います。五臓六腑の機能を正常に回復、消化や排便を
          </p>
        </div>
        <div class="banner_right">
          <span>ワンディダイトエッ</span>
          <span>入院ダイエット</span>
        </div>
      </div>
    </section> */
